body{
    background-image: url(b2ap3_large_quran_peace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 900px;


}

.col-sm{
    color: #fff;
    font-family: 'Fredoka One', cursive;
    padding-top: 5%;
}

.img2{
    padding-left: 15%;
}
